# ==============================================================================
# Git Ignore
# ------------------------------------------------------------------------------
# Paks
# ==============================================================================
encode/*.pak
encode/pak.properties
login/*.pak
